.dropdown-menu{
    overflow: scroll;
    overflow-x: hidden;
    height: 200px;

    position:absolute;
    z-index:1;
}
div.container-fluid div div div div.tab-content div.tab-pane div.row div.col div.animated form div.dropdown div.dropdown-menu {
    position: absolute;
}

div.container-fluid div div div div.tab-content div.tab-pane div.row div.col div.animated form div.form-group div div.col div.btn-group div.dropdown-menu {
    position:absolute;
    z-index:1;
}

div.container-fluid div div div {
    position:relative;
}

div.container-fluid div div div.footerTable {
    position:relative;
    z-index:-1;
}

div.container-fluid div div {
    position:relative;
}
div.container-fluid{
    width: 100%;
}
div.app-body main.main {
    margin-left: 0;
}
